.CircleRating {
  z-index: 2;
  background-size: auto;
  width: 2.25rem;
  height: 2.25rem;

  &-around {
    stroke:#444444;
    fill: black;
    stroke-width: 2;
  }

  &-percent {
    fill: none;
    stroke-width: 2;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;

    &--percentVeryGood {
      stroke: #FFD700;
      stroke-width: 2;
    }

    &--percentGood {
      stroke: #4dd4ac;
      stroke-width: 2;
    }

    &--percentMedium {
      stroke: #fd7e14;
      stroke-width: 2;
    }

    &--percentBad {
      stroke: #dc3545;
      stroke-width: 2;
    }
  }

  &-text {
    fill: white;

    &--percentVeryGood {
      fill: #FFD700;
      font-size: 10px;
    }

    &--percentGood {
      fill: #4dd4ac;
      font-size: 10px;
    }

    &--percentMedium {
      fill: #fd7e14;
      font-size: 10px;
    }

    &--percentBad {
      fill: #dc3545;
      font-size: 10px;
    }
  }
}
