.CircleRating {
  z-index: 2;
  background-size: auto;
  width: 2.25rem;
  height: 2.25rem;

  &-around {
    stroke:#444444;
    fill: black;
    stroke-width: 2;
  }

  &-percent {
    fill: none;
    stroke-width: 2;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;

    &--percent-very-good {
      stroke: #FFD700;
      stroke-width: 3;
    }

    &--percent-good {
      stroke: #4dd4ac;
      stroke-width: 3;
    }

    &--percent-medium {
      stroke: #fd7e14;
      stroke-width: 3;
    }

    &--percent-bad {
      stroke: #dc3545;
      stroke-width: 3;
    }
  }

  &-text {
    fill: white;

    &--percent-very-good {
      fill: #FFD700;
      font-size: 8px;
      font-weight: bold;
    }

    &--percent-good {
      fill: #4dd4ac;
      font-size: 8px;
      font-weight: bold;
    }

    &--percent-medium {
      fill: #fd7e14;
      font-size: 8px;
      font-weight: bold;
    }

    &--percent-bad {
      fill: #dc3545;
      font-size: 8px;
      font-weight: bold;
    }
  }
}
