.GameCover {
  margin-top: auto;
  width: 350px;
  float: left;
  margin-right: 15px;
  position: relative;
  top: 150px;
  left: 45px;
  background-color: whitesmoke;
  border-radius: 4px;
  padding: 6px;

  &-cover {
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4px;
  }

  &-action {
    display: flex;
    justify-content: space-between;

    button {
      width: 100%;
      margin-bottom: 2rem;
      margin-top: 2rem;
    }
  }

  &-status {
    display: flex;
    justify-content: space-around;

    &--owner {
      text-align: center;

      p {
        margin: 6px 0;
      }
    }

    &--to-play {
      text-align: center;

      p {
        margin: 6px 0;
      }
    }

    &--playing {
      text-align: center;

      p {
        margin: 6px 0;
      }
    }
  }
}
