@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

.GameCard {
  max-width: 300px;
  min-height: 416px;

  &-image {
    position: relative;
  }

  &-heart {
    position: absolute;
    top: 6px;
    right: 6px;
    background: rgba(200, 200, 200, 0.6);
    width: 34px;
    height: 34px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .CircleProgressbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 200px;
    left: 5px;
    font-weight: bold;
    width: 45px;

    &-rating {
      font-size: 12px;
      display: flex;
      color: white;
      font-family: 'Acme', sans-serif;

      span {
        font-size: 6px;
        margin-top: 1px;
      }
    }
  }

  .MuiCardMedia-root {
    height: 250px;
  }

  .MuiButtonBase-root {
    background: #494949;
    color: white;
  }

  .MuiChip-root {
    margin-top: 8px;
    font-size: 0.8rem;
  }

  .MuiTypography-root {
    font-size: 1.2rem;
  }

  &-title {
    min-height: 65px;
    padding: 16px 16px 0 16px !important;
  }

  &-footer {
    padding: 0 16px 16px 16px !important;
    min-height: 64px;
    align-items: center;
    display: flex;
  }

  hr {
    margin: 0 16px 8px 16px;
  }
}

