.HomeTemplate {
  margin: 0 75px;

  @media (max-width: 525px) {
    margin: 0;
  }

  &-title {
    font-size: 49px;
    font-weight: lighter;
    margin: 31px 0 20px 0;

    @media (max-width: 525px) {
      font-size: 30px;
    }
  }
  &-subtitle {
    font-size: 34px;
    margin: 20px 0 20px 0;
    font-weight: lighter;

    @media (max-width: 525px) {
      font-size: 20px;
    }
  }
  &-favorites-games {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: center;

    @media (max-width: 650px) {
      grid-template-columns: auto;
    }

    @media (min-width: 650px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 950px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: 1200px) {
      grid-template-columns: repeat(4, 1fr);
    }

    @media (min-width: 1700px) {
      grid-template-columns: repeat(5, 1fr);
    }
  }
}
